*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav-bar-logo{
    display: flex;
    align-content: center;
    align-self: center;
    gap:2rem;
}
ul{
    list-style: none;
}
.nav-list{
    display: flex;
    align-content: center;
    align-self: center;
    gap:2rem;
}